.word-info,
.word-meaning {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.word-info {
	gap: 3em;
}

// #region PRONUNCIATION
.word-pronunciation {
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-areas:
		"word btn"
		"pronounce btn";
}

.word-pronunciation > h1 {
	grid-area: word;
}

.word-pronunciation > h2 {
	font-family: var(--font-sans-serif);
	grid-area: pronounce;
	color: var(--text-accent-col);
}

.word-pronunciation > button {
	grid-area: btn;
	display: grid;
	place-content: center;
	width: 5em;
	height: 5em;
}

.play-icon {
	width: 2.25em;
	height: 2.25em;
	margin-left: 0.2em;
}

.stop-icon {
	width: 2.25em;
	height: 2.25em;
}
// #endregion

// #region MEANING
.word-meaning h3 {
	font-style: italic;
}

.horizontal {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2em;
}

.spacer {
	margin-top: 3px;
	height: 0.2em;
	border-radius: 1000em;
	background: var(--background-alt-col);
	flex-grow: 1;
}

.definitions {
	color: var(--text-light-col);
}

.definitions > ul {
	color: var(--text-col);
	padding-left: 2em;
	margin-top: 0.5em;
}

.definitions > ul > li {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.definitions > ul > li:not(:last-child) {
	margin-bottom: 1em;
}

.definitions > ul > li::before {
	content: "\2022";
	position: absolute;
	color: var(--text-accent-col);
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.definitions > ul > li > span {
	color: var(--text-light-col);
	font-style: italic;
}

.array {
	color: var(--text-light-col);
	display: grid;
	grid-template-columns: min-content auto;
	gap: 0.5em;
}

.array > span {
	font-weight: bold;
	color: var(--text-accent-col);
	display: flex;
	flex-wrap: wrap;
	gap: 0.2em;
}

.array > span > p {
	cursor: pointer;
}
// #endregion

// #region SOURCES
.sources {
	margin-bottom: 2em;
	display: grid;
	grid-template-columns: auto;
}

.sources > .spacer {
	margin-bottom: 1em;
}

.sources > p {
	color: var(--text-light-col);
}

.sources > span {
	font-weight: bold;
	display: flex;
	flex-direction: column;
	padding-left: 2em;
}

.sources > span > a {
	color: var(--text-col);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
	overflow-wrap: anywhere;
}

.sources > span > a:active {
	color: var(--text-col);
}

// width > 565px
@media only screen and (min-width: 35.3125em) {
	.sources {
		grid-template-columns: min-content auto;
		column-gap: 1.5em;
	}

	.sources > .spacer {
		grid-column: span 2;
	}

	.sources > span {
		padding-left: unset;
	}
}
// #endregion
