.searchbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: var(--background-alt-col);
	padding: 0.75em 1.2em;
	border-radius: 1em;
	cursor: text;
	font-size: 1.25em;
}

.disabled {
    cursor: not-allowed;
}

.disabled * {
    cursor: not-allowed;
}

.search-input {
    background: none;
	flex-grow: 1;
}

.search-input:focus-visible {
    outline: none;
}

.search-icon {
    cursor: pointer;
	fill: var(--icon-accent-col);
	width: 1.2em;
	height: 1.2em;
}

::placeholder {
	color: inherit;
	opacity: 0.5;
}

:-ms-input-placeholder {
	color: inherit;
}

::-ms-input-placeholder {
	color: inherit;
}
