.searchbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: var(--background-alt-col);
	padding: 0.75em 1.2em;
	border-radius: 1em;
	font-size: 1.25em;
	cursor: text;
	position: relative;
}

.disabled {
	cursor: not-allowed;
}

.disabled * {
	cursor: not-allowed;
}

.search-input {
	background: none;
	flex-grow: 1;
}

.search-input:focus-visible {
	outline: none;
}

.search-icon {
	--size: 1.2em;

	position: absolute;
	cursor: pointer;
	fill: var(--icon-accent-col);
	width: var(--size);
	height: var(--size);
	right: var(--size);
}

::placeholder {
	color: inherit;
	opacity: 0.5;
}

:-ms-input-placeholder {
	color: inherit;
}

::-ms-input-placeholder {
	color: inherit;
}
