.footer {
	margin: auto auto 0;
	padding: 1em 2em;
	white-space: nowrap;
	background: var(--background-alt-col);
	border-radius: 1em 1em 0 0;
	display: grid;
	grid-template-columns: min-content auto 1fr min-content auto;
	align-items: center;
	justify-content: space-between;
	column-gap: 1em;
	font-size: 90%;
}

.complex-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
}

.footer a {
	color: var(--text-col);
}

.light {
	color: var(--text-light-col);
}

.github-logo {
	height: 1.5em;
	width: 1.5em;
}

// width < 630px
@media only screen and (max-width: 39.375em) {
	.footer {
		grid-template-columns: min-content auto;
		row-gap: 0.3em;
	}

	.desktop {
		display: none;
	}
}

// 920px < width < 630px
@media only screen and (min-width: 51.9375em) and (max-width: 57.5em) {
	.footer {
		padding: 1em 1em;
	}
}

// width > 960px
@media only screen and (min-width: 60em) {
    div.desktop {
        min-width: 3em;
    }
}
