.footer {
    margin-top: auto;
    padding: 1em;
	white-space: nowrap;
    background: var(--background-alt-col);
    border-radius: 1em 1em 0 0;
    display: grid;
    grid-template-columns: min-content auto min-content auto;
    column-gap: 1em;
}

.complex-link {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.footer a {
	color: var(--text-col);
}

.light {
	color: var(--text-light-col);
}

.github-logo {
	height: 1.5em;
	width: 1.5em;
}
