.app {
	display: flex;
	flex-direction: column;
	padding-top: 1em;
	padding-inline: 2em; // Use little padding by default
	gap: 2em;
	min-height: 100dvh;
}

.spacer {
	flex-grow: 1;
}

@media (min-width: 831px) {
	// If screen is at least 830 wide
	.app {
		padding-inline: 20%; // Use larger padding
	}
}
